body { overflow: hidden; background: #000; }
  
  #Logo {
    width: 150%;
    height: 100%;
    position: absolute;
    top: 40%; right: -25%; bottom: 0; left: -25%;
    margin: auto;
    display:block; 
    fill: #fff;
    stroke: white;
    stroke-miterlimit: 5;
    #Draw-Lion {
        stroke-dashArray: 1100;
        stroke-dashoffset: 1100; 
    }
    #Draw-Text { 
        animation-delay: 2s, 3.5s, 3.5s; 
        animation-duration: 2s, 1s, 1s; 
        stroke-dashArray: 500;
        stroke-dashoffset: 500;
        //animation-duration: 3s;
    }
    .Animate-Draw {
        fill-opacity: 0;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration: 1;
        
        animation-name: DrawLine, FadeStroke, FillIn;
        animation-duration: 3s, 1s, 1s;
        animation-delay: 0s, 3.5s, 3.5s;
    }   
    @keyframes DrawLine {
        to { stroke-dashOffset: 0; }
    }
      
      @keyframes FadeStroke {
        to { stroke-opacity: 0; }
    }
      
      @keyframes FillIn {
        from { fill-opacity: 0; }
        to { fill-opacity: 1; }
    } 
  }


